.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbarLogo {
  width: 64px;
  height: 64px; }

.itemDetail {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}